In [2]:
# Import dependencies
import pandas as pd
#hello

In [3]:
# Loading csv into pandas
data = pd.read_csv("data.csv")
data

,State or Territory,Industry division,Sex,Age group,4-Jan-20,11-Jan-20,18-Jan-20,25-Jan-20,1-Feb-20,8-Feb-20,...,4-Jul-20,11-Jul-20,18-Jul-20,25-Jul-20,1-Aug-20,8-Aug-20,15-Aug-20,22-Aug-20,29-Aug-20,5-Sep-20
0,0. Australia,0. All industries,0. Persons,0. All ages,92.8,95.2,96.7,97.5,98.0,98.7,...,96.3,96.5,96.4,96.4,96.5,96.2,96.1,95.9,95.6,95.5
1,0. Australia,0. All industries,0. Persons,1. Under 20,85.6,88.2,90.3,92.6,94.7,96.9,...,98.2,98.8,98.5,98.7,99.0,96.8,96.2,96.2,96.1,97.3
2,0. Australia,0. All industries,0. Persons,2. 20-29,91.3,94.1,96.1,97.1,97.5,98.1,...,93.5,94.0,93.9,93.9,94.0,93.9,93.7,93.6,93.3,93.3
3,0. Australia,0. All industries,0. Persons,3. 30-39,93.7,96.0,97.3,97.9,98.3,98.8,...,96.8,97.3,97.3,97.3,97.3,97.2,97.1,96.9,96.7,96.6
4,0. Australia,0. All industries,0. Persons,4. 40-49,93.8,95.9,97.1,97.8,98.3,98.9,...,97.5,98.0,97.9,98.1,98.1,98.0,97.9,97.8,97.5,97.5
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4322,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4323,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4324,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4325,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4326,NaN,NaN,NaN,NaN,NA = Not available,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [4]:
#data = data.dropna()
data['Age group'].unique()

array(['0. All ages', '1. Under 20', '2. 20-29', '3. 30-39', '4. 40-49',
       '5. 50-59', '6. 60-69', '7. 70 and over', nan], dtype=object)

In [5]:
# Renaming elements in dataframe

data["State or Territory"] = data["State or Territory"].replace({
    "0. Australia":"Australia",
    "1. NSW":"NSW",
    "2. VIC":"VIC",
    "3. QLD":"QLD",
    "4. SA":"SA",
    "5. WA":"WA",
    "6. TAS":"TAS",
    "7. NT":"NT",
    "8. ACT":"ACT"
})

data["Industry division"] = data["Industry division"].replace({
    "0. All industries":"All Industries",
    "01. A-Agriculture, forestry & fishing":"Agriculture, forestry & fishing",
    "02. B-Mining":"Mining",
    "03. C-Manufacturing":"Manufacturing",
    "04. D-Electricity, gas, water & waste services":"Electricity, gas, water & waste services",
    "05. E-Construction":"Construction",
    "06. F-Wholesale trade":"Wholesale trade",
    "07. G-Retail trade":"Retail trade",
    "08. H-Accommodation & food services":"Accommodation & food services",
    "09. I-Transport, postal & warehousing":"Transport, postal & warehousing",
    "10. J-Information media & telecommunications":"Information media & telecommunications",
    "11. K-Financial & insurance services":"Financial & insurance services",
    "12. L-Rental, hiring & real estate services":"Rental, hiring & real estate services",
    "13. M-Professional, scientific & technical services":"Professional, scientific & technical services",
    "14. N-Administrative & support services":"Administrative & support services",
    "15. O-Public administration & safety":"Public administration & safety",
    "16. P-Education & training":"Education & training",
    "17. Q-Health care & social assistance":"Health care & social assistance",
    "18. R-Arts & recreation services":"Arts & recreation services",
    "19. S-Other services":"Other services"  
})

data["Sex"] = data["Sex"].replace({
    "0. Persons":"Other",
    "1. Males":"Males",
    "2. Females":"Females"
})

data["Age group"] = data["Age group"].replace({
    "0. All ages":"All ages",
    "1. Under 20":"Under 20",
    "2. 20-29":"20-29",
    "3. 30-39":"30-39",
    "4. 40-49":"40-49",
    "5. 50-59":"50-59",
    "6. 60-69":"60-69",
    "7. 70 and over":"70 and over"
})

In [11]:
data = data.dropna()
data

,State or Territory,Industry division,Sex,Age group,4-Jan-20,11-Jan-20,18-Jan-20,25-Jan-20,1-Feb-20,8-Feb-20,...,4-Jul-20,11-Jul-20,18-Jul-20,25-Jul-20,1-Aug-20,8-Aug-20,15-Aug-20,22-Aug-20,29-Aug-20,5-Sep-20
0,Australia,All Industries,Other,All ages,92.8,95.2,96.7,97.5,98.0,98.7,...,96.3,96.5,96.4,96.4,96.5,96.2,96.1,95.9,95.6,95.5
1,Australia,All Industries,Other,Under 20,85.6,88.2,90.3,92.6,94.7,96.9,...,98.2,98.8,98.5,98.7,99.0,96.8,96.2,96.2,96.1,97.3
2,Australia,All Industries,Other,20-29,91.3,94.1,96.1,97.1,97.5,98.1,...,93.5,94.0,93.9,93.9,94.0,93.9,93.7,93.6,93.3,93.3
3,Australia,All Industries,Other,30-39,93.7,96.0,97.3,97.9,98.3,98.8,...,96.8,97.3,97.3,97.3,97.3,97.2,97.1,96.9,96.7,96.6
4,Australia,All Industries,Other,40-49,93.8,95.9,97.1,97.8,98.3,98.9,...,97.5,98.0,97.9,98.1,98.1,98.0,97.9,97.8,97.5,97.5
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4280,ACT,Arts & recreation services,Males,All ages,89.3,93.9,96.3,91.7,93.0,101.9,...,86.6,89.7,90.3,91.5,92.4,93.5,93.8,93.0,91.9,82.8
4288,ACT,Arts & recreation services,Females,All ages,85.8,91.8,95.7,94.7,96.2,103.6,...,84.7,89.5,91.2,93.5,94.9,95.8,96.5,96.7,96.6,91.9
4296,ACT,Other services,Other,All ages,94.7,96.8,99.0,99.2,99.2,100.9,...,100.6,101.9,102.1,102.4,101.5,101.4,101.6,101.4,101.3,101.1
4304,ACT,Other services,Males,All ages,97.2,99.6,101.8,101.9,101.8,102.8,...,101.0,103.6,104.3,104.6,103.3,102.5,102.6,102.0,102.4,101.9
4312,ACT,Other services,Females,All ages,93.6,95.2,97.7,97.9,97.9,99.7,...,99.2,99.6,99.5,99.8,99.2,99.7,100.0,99.9,99.2,98.9

In [42]:
victoria_df=data.loc[data["State or Territory"]=="VIC"]
victoria_df

,State or Territory,Industry division,Sex,Age group,4-Jan-20,11-Jan-20,18-Jan-20,25-Jan-20,1-Feb-20,8-Feb-20,...,4-Jul-20,11-Jul-20,18-Jul-20,25-Jul-20,1-Aug-20,8-Aug-20,15-Aug-20,22-Aug-20,29-Aug-20,5-Sep-20
960,VIC,All Industries,Other,All ages,92.2,94.3,96.2,97.3,97.9,98.7,...,95.3,95.3,94.9,94.5,94.3,93.6,93.0,92.4,91.9,91.7
961,VIC,All Industries,Other,Under 20,83.5,85.6,89.0,91.9,94.9,96.9,...,94.8,93.7,91.1,89.3,87.8,82.8,80.2,79.7,78.8,79.5
962,VIC,All Industries,Other,20-29,90.8,93.1,95.5,96.8,97.3,98.2,...,92.1,92.0,91.3,90.5,90.2,89.5,88.7,88.0,87.6,87.4
963,VIC,All Industries,Other,30-39,93.2,95.3,97.0,97.8,98.1,98.7,...,96.4,96.8,96.6,96.2,96.0,95.7,95.3,94.7,94.3,94.1
964,VIC,All Industries,Other,40-49,93.2,94.9,96.4,97.4,98.0,98.7,...,96.9,97.3,97.4,97.2,97.2,96.8,96.5,95.9,95.5,95.3
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1400,VIC,Arts & recreation services,Males,All ages,95.5,97.4,99.7,100.8,100.8,99.8,...,84.3,85.3,84.6,83.9,82.6,80.2,81.4,80.6,80.8,80.3
1408,VIC,Arts & recreation services,Females,All ages,89.7,92.8,97.1,99.4,100.6,101.8,...,78.7,82.0,80.3,78.8,78.0,75.3,75.9,74.5,74.5,73.6
1416,VIC,Other services,Other,All ages,91.3,94.2,96.3,97.8,98.3,97.7,...,96.4,95.3,93.9,92.7,92.5,91.4,90.7,88.8,87.9,87.1
1424,VIC,Other services,Males,All ages,92.7,96.0,97.9,99.4,99.7,98.9,...,98.0,97.3,96.4,95.7,95.6,94.5,93.8,92.4,91.5,90.9
1432,VIC,Other services,Females,All ages,91.2,93.6,95.9,97.2,97.8,97.1,...,95.3,93.8,92.0,90.6,90.3,89.3,88.7,86.5,85.7,84.8

In [ ]:
victoria_all_industries_df=data.loc[data["State or Territory"]=="VIC"]
victoria_all_industries_df

In [12]:
data_Industry_df=data.copy()

In [13]:
data_Industry_df

,State or Territory,Industry division,Sex,Age group,4-Jan-20,11-Jan-20,18-Jan-20,25-Jan-20,1-Feb-20,8-Feb-20,...,4-Jul-20,11-Jul-20,18-Jul-20,25-Jul-20,1-Aug-20,8-Aug-20,15-Aug-20,22-Aug-20,29-Aug-20,5-Sep-20
0,Australia,All Industries,Other,All ages,92.8,95.2,96.7,97.5,98.0,98.7,...,96.3,96.5,96.4,96.4,96.5,96.2,96.1,95.9,95.6,95.5
1,Australia,All Industries,Other,Under 20,85.6,88.2,90.3,92.6,94.7,96.9,...,98.2,98.8,98.5,98.7,99.0,96.8,96.2,96.2,96.1,97.3
2,Australia,All Industries,Other,20-29,91.3,94.1,96.1,97.1,97.5,98.1,...,93.5,94.0,93.9,93.9,94.0,93.9,93.7,93.6,93.3,93.3
3,Australia,All Industries,Other,30-39,93.7,96.0,97.3,97.9,98.3,98.8,...,96.8,97.3,97.3,97.3,97.3,97.2,97.1,96.9,96.7,96.6
4,Australia,All Industries,Other,40-49,93.8,95.9,97.1,97.8,98.3,98.9,...,97.5,98.0,97.9,98.1,98.1,98.0,97.9,97.8,97.5,97.5
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4280,ACT,Arts & recreation services,Males,All ages,89.3,93.9,96.3,91.7,93.0,101.9,...,86.6,89.7,90.3,91.5,92.4,93.5,93.8,93.0,91.9,82.8
4288,ACT,Arts & recreation services,Females,All ages,85.8,91.8,95.7,94.7,96.2,103.6,...,84.7,89.5,91.2,93.5,94.9,95.8,96.5,96.7,96.6,91.9
4296,ACT,Other services,Other,All ages,94.7,96.8,99.0,99.2,99.2,100.9,...,100.6,101.9,102.1,102.4,101.5,101.4,101.6,101.4,101.3,101.1
4304,ACT,Other services,Males,All ages,97.2,99.6,101.8,101.9,101.8,102.8,...,101.0,103.6,104.3,104.6,103.3,102.5,102.6,102.0,102.4,101.9
4312,ACT,Other services,Females,All ages,93.6,95.2,97.7,97.9,97.9,99.7,...,99.2,99.6,99.5,99.8,99.2,99.7,100.0,99.9,99.2,98.9

In [33]:
data.columns

Index(['State or Territory', 'Industry division', 'Sex', 'Age group',
       '4-Jan-20', '11-Jan-20', '18-Jan-20', '25-Jan-20', '1-Feb-20',
       '8-Feb-20', '15-Feb-20', '22-Feb-20', '29-Feb-20', '7-Mar-20',
       '14-Mar-20', '21-Mar-20', '28-Mar-20', '4-Apr-20', '11-Apr-20',
       '18-Apr-20', '25-Apr-20', '2-May-20', '9-May-20', '16-May-20',
       '23-May-20', '30-May-20', '6-Jun-20', '13-Jun-20', '20-Jun-20',
       '27-Jun-20', '4-Jul-20', '11-Jul-20', '18-Jul-20', '25-Jul-20',
       '1-Aug-20', '8-Aug-20', '15-Aug-20', '22-Aug-20', '29-Aug-20',
       '5-Sep-20'],
      dtype='object')

In [16]:
data_Industry_df.dtypes
data_Industry_df['4-Jan-20']=data_Industry_df['4-Jan-20'].astype(float)

In [39]:
data_Industry_df["Sum of Jan"]=data_Industry_df["4-Jan-20"]+data_Industry_df["11-Jan-20"]+data_Industry_df["18-Jan-20"]+data_Industry_df["25-Jan-20"]
data_Industry_df["Sum of Feb"]=data_Industry_df["1-Feb-20"]+data_Industry_df["8-Feb-20"]+data_Industry_df["15-Feb-20"]+data_Industry_df["22-Feb-20"]+data_Industry_df["29-Feb-20"]
data_Industry_df["Sum of March"]=data_Industry_df["7-Mar-20"]+data_Industry_df["14-Mar-20"]+data_Industry_df["21-Mar-20"]+data_Industry_df["28-Mar-20"]

In [40]:
All_industries=pd.DataFrame(data_Industry_df.groupby("Industry division").sum()).reset_index()
All_industries[All_industries["Industry division"]=="All Industries"]
All_industries=pd.DataFrame(data_Industry_df.groupby("State or Territory").sum()).reset_index()
All_industries

,State or Territory,4-Jan-20,11-Jan-20,18-Jan-20,25-Jan-20,1-Feb-20,8-Feb-20,15-Feb-20,22-Feb-20,29-Feb-20,...,25-Jul-20,1-Aug-20,8-Aug-20,15-Aug-20,22-Aug-20,29-Aug-20,5-Sep-20,Sum of Jan,Sum of Feb,Sum of March
0,ACT,7457.9,7668.6,7863.7,7898.2,7942.9,8052.3,8124.5,8104.2,8086.3,...,7786.0,7779.0,7778.6,7789.1,7728.3,7672.8,7644.5,30888.4,40310.2,32157.7
1,Australia,19639.3,20236.3,20602.6,20799.5,20925.5,21118.3,21202.9,21235.1,21216.7,...,20512.8,20514.2,20443.0,20423.1,20388.2,20358.7,20339.1,81277.7,105698.5,84441.8
2,NSW,7558.5,7748.9,7852.3,7919.0,7974.0,8026.1,8065.0,8064.3,8061.3,...,7815.1,7815.7,7800.8,7798.0,7771.7,7770.6,7749.1,31078.7,40190.7,32034.3
3,NT,7508.6,7642.5,7743.5,7841.1,7914.7,8032.7,8073.6,8040.2,7996.7,...,7856.6,7884.6,7961.9,7951.1,7930.1,7914.3,7855.3,30735.7,40057.9,31867.8
4,QLD,7490.5,7758.8,7870.1,7929.6,7956.5,8003.3,8038.5,8053.7,8039.8,...,7863.9,7853.0,7822.7,7801.0,7819.3,7777.6,7799.7,31049.0,40091.8,32043.0
5,SA,7503.7,7726.6,7844.8,7903.1,7919.1,8006.7,8056.5,8029.0,8015.2,...,7766.5,7761.1,7766.2,7770.9,7788.6,7783.1,7803.0,30978.2,40026.5,31955.6
6,TAS,7697.8,7901.9,7978.8,8019.4,8073.5,8129.4,8124.8,8116.0,8044.0,...,7666.6,7699.0,7650.4,7683.5,7700.9,7682.0,7698.6,31597.9,40487.7,31947.3
7,VIC,7493.0,7665.0,7827.3,7906.3,7956.1,8005.4,8001.9,8029.0,8037.9,...,7583.3,7563.5,7496.6,7455.3,7405.2,7373.1,7345.7,30891.6,40030.3,31965.2
8,WA,7637.2,7830.3,7906.4,7931.8,7946.2,8035.5,8108.8,8093.4,8034.6,...,7908.0,7932.1,7926.4,7947.3,7945.0,7952.2,7945.8,31305.7,40218.5,32015.2

In [7]:
#Investigate how covid-19 has impacted single touch payroll in Australia.
#has single touch payroll reduced over time?
#1.Read the csv files
#2.Group the weekly data by month
#3.get the total amount of wages by month
#4.then get the %change for each moth for payroll as well as covid19 cases
#5.compare the two  data (maybe create a table which has the 2 data sets after %change calculation)
#6.plot the graphs

In [8]:
#create a data frame that has only the all industries
all_industry_data_df = pd.DataFrame({
    "State or Territory":["Australia","NSW","VIC","QLD","SA","WA","TAS","NT","ACT"],
    "Industry Division":["All Industries","All Industries","All Industries","All Industries","All Industries","All Industries","All Industries","All Industries","All Industries"]})


all_industry_data_df.head()

  State or Territory Industry Division
0          Australia    All Industries
1                NSW    All Industries
2                VIC    All Industries
3                QLD    All Industries
4                 SA    All Industries