In [2]:
# Import dependencies
import pandas as pd

In [42]:
# Loading csv into pandas
data = pd.read_csv("data.csv")
data

,State or Territory,Industry division,Sex,Age group,4-Jan-20,11-Jan-20,18-Jan-20,25-Jan-20,1-Feb-20,8-Feb-20,...,4-Jul-20,11-Jul-20,18-Jul-20,25-Jul-20,1-Aug-20,8-Aug-20,15-Aug-20,22-Aug-20,29-Aug-20,5-Sep-20
0,0. Australia,0. All industries,0. Persons,0. All ages,92.8,95.2,96.7,97.5,98.0,98.7,...,96.3,96.5,96.4,96.4,96.5,96.2,96.1,95.9,95.6,95.5
1,0. Australia,0. All industries,0. Persons,1. Under 20,85.6,88.2,90.3,92.6,94.7,96.9,...,98.2,98.8,98.5,98.7,99.0,96.8,96.2,96.2,96.1,97.3
2,0. Australia,0. All industries,0. Persons,2. 20-29,91.3,94.1,96.1,97.1,97.5,98.1,...,93.5,94.0,93.9,93.9,94.0,93.9,93.7,93.6,93.3,93.3
3,0. Australia,0. All industries,0. Persons,3. 30-39,93.7,96.0,97.3,97.9,98.3,98.8,...,96.8,97.3,97.3,97.3,97.3,97.2,97.1,96.9,96.7,96.6
4,0. Australia,0. All industries,0. Persons,4. 40-49,93.8,95.9,97.1,97.8,98.3,98.9,...,97.5,98.0,97.9,98.1,98.1,98.0,97.9,97.8,97.5,97.5
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4322,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4323,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4324,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4325,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4326,NaN,NaN,NaN,NaN,NA = Not available,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [55]:
#data = data.dropna()
data['Age group'].unique()

array(['0. All ages', '1. Under 20', '2. 20-29', '3. 30-39', '4. 40-49',
       '5. 50-59', '6. 60-69', '7. 70 and over', nan], dtype=object)

In [57]:
# Renaming elements in dataframe

data["State or Territory"] = data["State or Territory"].replace({
    "0. Australia":"Australia",
    "1. NSW":"NSW",
    "2. VIC":"VIC",
    "3. QLD":"QLD",
    "4. SA":"SA",
    "5. WA":"WA",
    "6. TAS":"TAS",
    "7. NT":"NT",
    "8. ACT":"ACT"
})

data["Industry division"] = data["Industry division"].replace({
    "0. All industries":"All Industries",
    "01. A-Agriculture, forestry & fishing":"Agriculture, forestry & fishing",
    "02. B-Mining":"Mining",
    "03. C-Manufacturing":"Manufacturing",
    "04. D-Electricity, gas, water & waste services":"Electricity, gas, water & waste services",
    "05. E-Construction":"Construction",
    "06. F-Wholesale trade":"Wholesale trade",
    "07. G-Retail trade":"Retail trade",
    "08. H-Accommodation & food services":"Accommodation & food services",
    "09. I-Transport, postal & warehousing":"Transport, postal & warehousing",
    "10. J-Information media & telecommunications":"Information media & telecommunications",
    "11. K-Financial & insurance services":"Financial & insurance services",
    "12. L-Rental, hiring & real estate services":"Rental, hiring & real estate services",
    "13. M-Professional, scientific & technical services":"Professional, scientific & technical services",
    "14. N-Administrative & support services":"Administrative & support services",
    "15. O-Public administration & safety":"Public administration & safety",
    "16. P-Education & training":"Education & training",
    "17. Q-Health care & social assistance":"Health care & social assistance",
    "18. R-Arts & recreation services":"Arts & recreation services",
    "19. S-Other services":"Other services"  
})

data["Sex"] = data["Sex"].replace({
    "0. Persons":"Other",
    "1. Males":"Males",
    "2. Females":"Females"
})

data["Age group"] = data["Age group"].replace({
    "0. All ages":"All ages",
    "1. Under 20":"Under 20",
    "2. 20-29":"20-29",
    "3. 30-39":"30-39",
    "4. 40-49":"40-49",
    "5. 50-59":"50-59",
    "6. 60-69":"60-69",
    "7. 70 and over":"70 and over"
})

In [60]:
data = data.dropna()
data

,State or Territory,Industry division,Sex,Age group,4-Jan-20,11-Jan-20,18-Jan-20,25-Jan-20,1-Feb-20,8-Feb-20,...,4-Jul-20,11-Jul-20,18-Jul-20,25-Jul-20,1-Aug-20,8-Aug-20,15-Aug-20,22-Aug-20,29-Aug-20,5-Sep-20
0,Australia,All Industries,Other,All ages,92.8,95.2,96.7,97.5,98.0,98.7,...,96.3,96.5,96.4,96.4,96.5,96.2,96.1,95.9,95.6,95.5
1,Australia,All Industries,Other,Under 20,85.6,88.2,90.3,92.6,94.7,96.9,...,98.2,98.8,98.5,98.7,99.0,96.8,96.2,96.2,96.1,97.3
2,Australia,All Industries,Other,20-29,91.3,94.1,96.1,97.1,97.5,98.1,...,93.5,94.0,93.9,93.9,94.0,93.9,93.7,93.6,93.3,93.3
3,Australia,All Industries,Other,30-39,93.7,96.0,97.3,97.9,98.3,98.8,...,96.8,97.3,97.3,97.3,97.3,97.2,97.1,96.9,96.7,96.6
4,Australia,All Industries,Other,40-49,93.8,95.9,97.1,97.8,98.3,98.9,...,97.5,98.0,97.9,98.1,98.1,98.0,97.9,97.8,97.5,97.5
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4280,ACT,Arts & recreation services,Males,All ages,89.3,93.9,96.3,91.7,93.0,101.9,...,86.6,89.7,90.3,91.5,92.4,93.5,93.8,93.0,91.9,82.8
4288,ACT,Arts & recreation services,Females,All ages,85.8,91.8,95.7,94.7,96.2,103.6,...,84.7,89.5,91.2,93.5,94.9,95.8,96.5,96.7,96.6,91.9
4296,ACT,Other services,Other,All ages,94.7,96.8,99.0,99.2,99.2,100.9,...,100.6,101.9,102.1,102.4,101.5,101.4,101.6,101.4,101.3,101.1
4304,ACT,Other services,Males,All ages,97.2,99.6,101.8,101.9,101.8,102.8,...,101.0,103.6,104.3,104.6,103.3,102.5,102.6,102.0,102.4,101.9
4312,ACT,Other services,Females,All ages,93.6,95.2,97.7,97.9,97.9,99.7,...,99.2,99.6,99.5,99.8,99.2,99.7,100.0,99.9,99.2,98.9